<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<head>

<title>مرکز نوآوری و کارآفرینی طرفه نگار</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="فروش سنگ ساختمانی,سنگ نما,فروش سنگ باکیفیت,فروش و مشاوره قمت سنگ,سنگبری,فروش سنگ ساختمان">
<meta name="author" content="farid shahidi">
<meta name="viewport" content="width=device-width, initial-scale=0.7,user-scalable=no">
<meta name="Description" content="فروش سنگ با بهترین کیفیت از سرشناس ترین سنگبری های ایران.">
<meta name="googlebot" content="nofollow"/>
<meta name="robots" content="nofollow">
<meta name="google" content="notranslate"/>

<meta property="og:url" content="http://www.sangsite.com/">
<meta property="og:title" content="مشاوره فروش انواع سنگ از سنگبری ها با قیمت مناسب">
<meta property="og:description" content="فروش سنگ با بهترین کیفیت از سرشناس ترین سنگبری های ایران.">
<meta property="og:type" content="website">
<meta property="og:locale" content="fa_IR" />
<meta property="og:locale:alternate" content="ar_IR" />
<meta property="og:image" content="img/n2.jpg">
<meta property="og:site_name" content="http://www.sangsite.com/">

<meta property="twitter:card" content="summary">
<meta property="twitter:site" content="http://www.sangsite.com/">
<meta property="twitter:title" content="مشاوره فروش انواع سنگ از سنگبری ها با قیمت مناسب">
<meta property="twitter:description" content="فروش سنگ با بهترین کیفیت از سرشناس ترین سنگبری های ایران.">
<meta property="twitter:creator" content="farid shahidi">
<meta property="twitter:image:src" content="img/n2.jpg">
<meta property="twitter:domain" content="http://www.sangsite.com/">

<link rel="canonical" href="http://www.sangsite.com/">
<link rel='icon' href='img/logo.png' type='image/png'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="css/rtl.css">
<link rel="stylesheet" href="css/effect-3dbox.css">
<link rel="stylesheet" href="css/app.css">

<!-- <script type="text/javascript">
    window.$crisp=[];window.CRISP_WEBSITE_ID="ba7df68f-a1f4-4dbc-a268-79b5789b2f23";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.im/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();
    </script> -->
</head>
<body  id="main">

<div class="seperate"></div>
<div class="seperate"></div>
<div class="seperate"></div>
<div class="seperate"></div>
<nav class="navbar background-nav navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="glyphicon glyphicon-menu-hamburger"></span>                           
            </button>
            <a class="navbar-brand {{Request::segment(1) == '' ? 'selected':''}}" href="#main" style=" padding-top: 10px;display: inline-block;"> 
                <img src="img/logo.png" alt="logo" class="logo-icon" style="width: 60px;display: inline-block;">
                <span>
                مرکز نوآوری و کارآفرینی طرفه نگار
                </span>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#why" class="draw2">
                چرا منکط ؟ </a>
                </li>
                <li><a href="#introduce" class="draw2">
                روند کاری </a>
                </li>
                <li><a href="#news" class="draw2">
                استارتاپ‌ها</a>
                </li>
                <li><a href="#anva" class="draw2">
                افراد</a>
                </li>
                <li><a href="#price" class="draw2">
                سوالات متداول</a></li>
                <li><a href="javascript:void(0)" data-toggle="modal" data-target="#contact-us-modal">تماس با ما</a></li>
            </ul>
        </div>
    </div>
</nav>
<div style="position: fixed;bottom: 0px;
    text-align: center;
    font-size: 140%;
    /*background-color: #640fc4;‍‍*/
    background-color: #640fc5;
    padding: 7px 55px 7px 4px;
    color: white;
    z-index: 1;width: 100%">
    حمایت ما + خلاقیت شما 
    =
    نوآوری
    
</div>
<div class="modal fade" id="contact-us-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">تماس با مرکز نوآوری و کارآفرینی طرفه نگار</h4>
            </div>
            <div class="modal-body">
                <h3 class="text-center bold">
                    مرکز نوآوری و کارآفرینی طرفه نگار
                </h3>
                <h5 style="line-height: 180%">
                    تلفن دفتر:‌۰۲۱
                </h5>
                <div class="half-seperate"></div>
                <h5>
                    ساعت کاری:
                    همه روزه از ساعت ۶ صبح الی ۱۰ شب
                </h5>
                <div class="half-seperate"></div>
                <h5>
                    روزهای کاری :
                    همه روزه
                </h5>
                <div class="half-seperate"></div>
                <h5>
                    آدرس محل کار:
                    میرداماد 
                </h5>
                <div class="half-seperate"></div>
            </div>
        </div>
    </div>
</div>
<div style="position: absolute;z-index: 1">
    <div id="large-header">
        <canvas id="demo-canvas"></canvas>
    </div>
</div>
<div class="container-fluid background-container-fluid">
<div class="half-seperate"></div>
<div class="row">       
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <!-- <li data-target="#myCarousel" data-slide-to="2"></li> -->
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="img/a1.jpg" class="full-size" alt="سنگ ساختمانی">
                <div class="carousel-caption">
                    <h3>مرکز نوآوری و کارآفرینی طرفه نگار</h3>
                </div>
            </div>
            <div class="item">
                <img alt="سنگ ساختمانی" data-original="img/a2.png" class="lazy full-size">
                <div class="carousel-caption">
                    <h3>مرکز نوآوری و کارآفرینی طرفه نگار</h3>
                </div>
            </div>
            <!-- <div class="item">
                <img alt="سنگ ساختمانی" data-original="img/13.jpg" class="lazy full-size">
                <div class="carousel-caption">
                    <h3>یافتن سنگ متناسب با بودجه و سلیقه شما</h3>
                </div>
            </div> -->
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>  
</div>


<div class="row" style="background: url('img/wall.jpg');">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-10 text-center">  
        <h1 class="bold page-header" style="line-height: 140%;">
            مرکز نوآوری و کارآفرینی طرفه نگار 
        </h1>
        <h3>
            ما بدنبال کسانی هستیم که حاضرند تا همه چیز را بدهند تا چشم انداز خود را محقق سازند.

        </h3>
    </div>
    <div class="seperate"></div>
    <div class="seperate"></div>
</div>



<div class="row" style="background-color: white;padding: 20px;">
<div class="seperate" id="why"></div>
<div class="seperate" ></div>
<div class="seperate" ></div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10">
                  <h3>
                    <img width="90" alt="why" data-original="img/why.png" class="lazy"> 
                    چرا منکط
                </h3>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-md-offset-1 text-center">
        <div class="seperate"></div>
        <div class="seperate"></div>
        <div class="seperate"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <img alt="مرحله ۱" width="57" data-original="img/s1.png" class="lazy">
                <div class="half-seperate"></div>
                <p class="bold big-size">
                مشاوره برای رسیدن به اهداف
                </p>
                <div class="seperate"></div>
                <div class="seperate"></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <img alt="مرحله ۲" width="60" data-original="img/s2.png" class="lazy">
                <div class="half-seperate"></div>
                <p class="bold big-size">
                محیط کار صمیمی و فعال
                </p>
                <div class="seperate"></div>
                <div class="seperate"></div>

            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <img src="img/s3.png" alt="مرحله ۳" width="57">
                <div class="half-seperate"></div>
                <p class="bold big-size">
                ارتباطات موثر
                </p>
                <div class="seperate"></div>
                <div class="seperate"></div>
                <div class="seperate"></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <img src="img/s4.png" alt="مرحله ۱">
                <div class="half-seperate"></div>
                <p class="bold big-size">
                سرمایه گذاری هدفمند
                </p>
                <div class="seperate"></div>
                <div class="seperate"></div>
                <div class="seperate"></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <img src="img/s5.png" alt="مرحله ۲">
                <div class="half-seperate"></div>
                <p class="bold big-size">
                مربیان برجسته در کنار شما
                </p>
                <div class="seperate"></div>
                <div class="seperate"></div>
                

            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <img src="img/s6.png" alt="مرحله ۳">
                <div class="half-seperate"></div>
                <p class="bold big-size">
                آموزش رشد استارتاپ
                </p>
            </div>
        </div>
        <div class="seperate"></div>
        <div class="seperate"></div>
        <div class="seperate"></div>
        <div class="seperate"></div>
    </div>
    <div class="col-sm-4 hidden-xs hidden-sm">
        <div class="row">
            <div class="col-xs-12">
               <img alt="سنگ خرید" data-original="img/a7.jpg" class="lazy img-responsive">
            </div>
        </div>
    </div>
</div>


<img id="scroled" data-original="img/a8.jpg" class="move1 eat lazy"
    style="width:8%;top:470px;right:0px;opacity: 0.1;min-width: 60px" alt="سنگ نما">
<img id="scroled2"  data-original="img/a9.jpg" class="move2 eat lazy"
    style="width: 8%;top:470px;left: 0px; opacity: 0.1;min-width: 60px" alt="خرید سنگ">

<div class="row" style="background: url('img/wall.jpg');padding: 20px;" >
    <div class="seperate" id="introduce"></div>
    <div class="seperate" ></div>
    <div class="seperate" ></div>
    <div class="col-sm-4">
        <h3 class="text-center bold">
            روند کاری
        </h3>
        <h5 style="line-height: 180%">
            همه چیز از یک ایده عالی شروع می‌شود.
            اگر به ایده خود ایمان دارید آن را در این سامانه مطرح کنید. 
            پس از بررسی طرح شما جلساتی مهیا می‌شود که در آنها هرگونه ابهامی برای شما رفع شود.

            <br>
            پس از آن محلی برای تولید و اجرای ایده شما در اختیارتان قرار می‌گیرد که در آن به ساخت محصول می‌پردازید.
            در حین کار به شما راهنمایی هایی ارایه می‌گردد که به بهبود محصول شما کمک می‌کند.
            با کامل شدن محصولتان ارایه ای از آن محصول را برای اعضای هیت مدیره انجام میدهید.
        </h5>
        <h4>
            ساعت کاری مرکز:
            همه روزه از ساعت ۶ صبح الی ۱۰ شب
            <br>
            <br>
            روزهای کاری :
            همه روزه
            <br>
            <br>
            <small>
            آدرس محل کار:
            خیابان میرداماد - کوچه زرنگار - ساختمان هلو
            </small>
             
        </h5>
        <div class="half-seperate"></div>
    </div>
    <div class="col-sm-8">
        <div class="seperate"></div>
        <img src="img/process.png" class="img-responsive">

        <!-- <img alt="سنگ ساختمانی" data-original="img/n12.jpg" class="lazy img-responsive"> -->
    </div>
    <div class="seperate"></div>
</div>

<div class="row" style="background: white;padding: 20px;" >
    <div class="seperate" id="news"></div>
    <div class="seperate" ></div>
    <div class="seperate" ></div>
    <div class="col-sm-12">
        <h3 class="text-center bold">
            استارتاپ‌ها
        </h3>
    </div>
    <div class="seperate"></div>
    <div class="seperate"></div>
    <div class="seperate"></div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="stage">
                <li class="scene">
                    <a href="/startup/">
                        <div class="movie" onclick="return true">
                            <div class="poster">
                            <h4 style="color: black;padding: 10px;text-align: center;">
                                تیمچه سرا
                            </h4>
                            </div>
                            <div class="info">
                                <header>
                                    <h1>تیمچه سرا </h1>
                                    <span class="year">متولد: ۱۳۹۷ </span>
                                    <span class="">طرفه نگار</span>
                                        <span class="rating">داوودی - شهیدی</span>                             
                                </header>
                                <p>فروشگاه سازی کامل برای تمام کسانی که خواستار فروش آنلاین هستند.
                                    این سامانه به دنباله خدمت رسانی طرفه نگار به مشتریان هلو ارایه می‌گردد.
                                </p> 
                            </div>
                        </div>
                    </a>
                </li>
                <li class="scene">
                    <a href="/startup/">
                        <div class="movie" onclick="return true">
                            <div class="poster">
                            <h4 style="color: black;padding: 10px;text-align: center;">
                                آرایشگاه آنلاین
                            </h4>
                            </div>
                            <div class="info">
                                <header>
                                    <h1>تیمچه سرا </h1>
                                    <span class="year">متولد: ۱۳۹۷ </span>
                                    <span class="">طرفه نگار</span>
                                        <span class="rating">  </span>
                                </header>
                                <p>فروشگاه سازی کامل برای تمام کسانی که خواستار فروش آنلاین هستند.</p> 
                            </div>
                        </div>
                    </a>
                </li>
                <li class="scene">
                    <a href="/startup/">
                        <div class="movie" onclick="return true">
                            <div class="poster">
                            <h4 style="color: black;padding: 10px;text-align: center;">
                                آموزش زبان 
                            </h4>
                            </div>
                            <div class="info">
                                <header>
                                    <h1>تیمچه سرا </h1>
                                    <span class="year">متولد: ۱۳۹۷ </span>
                                    <span class="">طرفه نگار</span>
                                        <span class="rating">  </span>
                                </header>
                                <p>فروشگاه سازی کامل برای تمام کسانی که خواستار فروش آنلاین هستند.</p> 
                            </div>
                        </div>
                    </a>
                </li>
                <li class="scene">
                    <a href="/startup/">
                        <div class="movie" onclick="return true">
                            <div class="poster">
                            <h4 style="color: black;padding: 10px;text-align: center;">
                                ورزشگاه آنلاین
                            </h4>
                            </div>
                            <div class="info">
                                <header>
                                    <h1>تیمچه سرا </h1>
                                    <span class="year">متولد: ۱۳۹۷ </span>
                                    <span class="">طرفه نگار</span>
                                        <span class="rating">  </span>
                                </header>
                                <p>فروشگاه سازی کامل برای تمام کسانی که خواستار فروش آنلاین هستند.</p> 
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="seperate"></div>
</div>


<div class="row">
    <div class="hide-white-to-gray"></div>
    <div class="background-footer">
        <div class="container">
            <div class="row"> 
                <div class="col-md-4 col-sm-6">
                    لینک‌ها
                    <div class="half-seperate"></div>
                    <ul>
                        <li>
                        <a href="https://www.twitter.com/ptools" >
                            معرفی مرکز شتابدهی
                        </a></li><li>
                        <a href="https://www.twitter.com/ptools" >
                            استارتاپ‌ها
                        </a></li><li>
                        <a href="https://www.twitter.com/ptools" >
                            افراد
                        </a></li><li>
                        <a href="https://www.twitter.com/ptools" >
                            سوالات متداول
                        </a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6">
                    لینک‌ها
                    <div class="half-seperate"></div>
                    <ul>
                        <li>
                        <a href="https://www.twitter.com/ptools" >
                            معرفی مرکز شتابدهی
                        </a></li><li>
                        <a href="https://www.twitter.com/ptools" >
                            استارتاپ‌ها
                        </a></li><li>
                        <a href="https://www.twitter.com/ptools" >
                            افراد
                        </a></li><li>
                        <a href="https://www.twitter.com/ptools" >
                            سوالات متداول
                        </a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div>مرکز نوآوری و کارآفرینی طرفه نگار در شبکه های اجتماعی</div>
                    <div class="half-seperate"></div>
                    <div>
                        <a href="https://telegram.me/ptools" class="social-network telegram"></a>
                        <a href="https://www.facebook.com/ptools" class="social-network facebook"></a>
                        <a href="https://www.instagram.com/ptools" class="social-network instagram"></a>
                        <a href="https://www.twitter.com/ptools" class="social-network twitter"></a>
                    </div>
                    <div class="one-third-seperate"></div>
                </div>
            </div>
            <div class="seperate"></div>
            <div class="seperate"></div>
            <p>
                <small>
                کلیه حقوق این سایت متعلق به 
                شرکت طرفه نگار می‌باشد.
                </small>
            </p>
            <div class="seperate"></div>
            <div class="seperate"></div>
            <div class="seperate"></div>
        </div>
    </div>
</div>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-lazy.js"></script>
        <script type="text/javascript">
        $(function() {
            $("img.lazy").lazyload({
                threshold : 2200
            });
        });
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="js/demo-2.js"></script>
        <script type="text/javascript">
            $('.nav a').on('click', function(){
                if(window.innerWidth <700){
                $('.navbar-toggle').click();
            }
            });
        </script>
        <script>
            scrollDown = function() {
                $('html,body').animate({
                    scrollTop: $("#restaurant-list").offset().top
                },'slow');
            }
            move = $(window).scrollTop() / 12;
            $('#scroled2').animate({
                left: 10+move+'px',
                opacity: '1',
            }, 800);
            $('#scroled').animate({
                right: 10+move+'px',
                opacity: '1',
            }, 800);
            $(window).scroll(function () {
                if($(window).scrollTop() < 1000){
                    move = $(window).scrollTop() / 4;
                    $('#scroled2').css("left",10+move/2+"px");
                    $('#scroled').css("right",10+move/2+"px");
                }
            });
        </script>
	</body>
</html>

